# coding: utf-8

"""
    Betaface API 2.0

    Betaface face recognition API.  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class FaceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v2_face_cropped_get(self, api_key, face_uuid, **kwargs):  # noqa: E501
        """gets a single cropped face information including cropped face image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v2_face_cropped_get(api_key, face_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str api_key: your API key or d45fd466-51e2-4701-8da8-04351c872236 (required)
        :param str face_uuid: the requested media identifier. (required)
        :return: CroppedFace
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v2_face_cropped_get_with_http_info(api_key, face_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.v2_face_cropped_get_with_http_info(api_key, face_uuid, **kwargs)  # noqa: E501
            return data

    def v2_face_cropped_get_with_http_info(self, api_key, face_uuid, **kwargs):  # noqa: E501
        """gets a single cropped face information including cropped face image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v2_face_cropped_get_with_http_info(api_key, face_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str api_key: your API key or d45fd466-51e2-4701-8da8-04351c872236 (required)
        :param str face_uuid: the requested media identifier. (required)
        :return: CroppedFace
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['api_key', 'face_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_face_cropped_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'api_key' is set
        if ('api_key' not in params or
                params['api_key'] is None):
            raise ValueError("Missing the required parameter `api_key` when calling `v2_face_cropped_get`")  # noqa: E501
        # verify the required parameter 'face_uuid' is set
        if ('face_uuid' not in params or
                params['face_uuid'] is None):
            raise ValueError("Missing the required parameter `face_uuid` when calling `v2_face_cropped_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'api_key' in params:
            query_params.append(('api_key', params['api_key']))  # noqa: E501
        if 'face_uuid' in params:
            query_params.append(('face_uuid', params['face_uuid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2/face/cropped', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CroppedFace',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v2_face_get(self, api_key, face_uuid, **kwargs):  # noqa: E501
        """gets a single face information.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v2_face_get(api_key, face_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str api_key: your API key or d45fd466-51e2-4701-8da8-04351c872236 (required)
        :param str face_uuid: the requested media identifier. (required)
        :return: Face
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v2_face_get_with_http_info(api_key, face_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.v2_face_get_with_http_info(api_key, face_uuid, **kwargs)  # noqa: E501
            return data

    def v2_face_get_with_http_info(self, api_key, face_uuid, **kwargs):  # noqa: E501
        """gets a single face information.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v2_face_get_with_http_info(api_key, face_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str api_key: your API key or d45fd466-51e2-4701-8da8-04351c872236 (required)
        :param str face_uuid: the requested media identifier. (required)
        :return: Face
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['api_key', 'face_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_face_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'api_key' is set
        if ('api_key' not in params or
                params['api_key'] is None):
            raise ValueError("Missing the required parameter `api_key` when calling `v2_face_get`")  # noqa: E501
        # verify the required parameter 'face_uuid' is set
        if ('face_uuid' not in params or
                params['face_uuid'] is None):
            raise ValueError("Missing the required parameter `face_uuid` when calling `v2_face_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'api_key' in params:
            query_params.append(('api_key', params['api_key']))  # noqa: E501
        if 'face_uuid' in params:
            query_params.append(('face_uuid', params['face_uuid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2/face', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Face',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
